html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  min-width: 1280px;

  font-family: Arial, Helvetica, sans-serif;
}

.visually-hidden {
  display: none;
}

.page {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100%;
  width: 1200px;


  background-color: #ffffff31;
  box-shadow: 0 0 135px rgba(0, 0, 0, 0.158);
}

.page__header {
  display: flex;
  justify-content: center;
}

@keyframes title_color {
  50% {
    
  }
}

.title {
  position: relative;
  margin: 0;
  font-size: 70px;
  line-height: 200px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(255, 255, 255);
  text-shadow: 0 0 25px rgb(0, 0, 0);
  user-select: none;
}

@keyframes borders_rotate {
  30% {
    transform:skewX(15deg);
    transform:translateY(-20px);
  }
  70% {
    transform:skewX(-15deg);
    transform:translateY(20px);
  }
}

.title::before,
.title::after {
  animation-name: yellow_c, borders_rotate;
  animation-duration: 5s, 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.title::before {
  content: '';
  position: absolute;
  top: 50%;
  left: -200px;
  width: 100px;
  height: 2px;
  background-color: transparent;
  border-top: 20px dotted red;
}

.title::after {
  content: '';
  position: absolute;
  top: 50%;
  right: -200px;
  width: 100px;
  height: 2px;
  background-color: transparent;
  border-top: 20px dotted red;
}

svg {
  position: absolute;
  z-index: -1;
}

@keyframes yellow_c {
  50% {
    transform: scale(0.2);
  }
}

@keyframes pink_c {
  35% {
    transform: translate(-500px, -50px);
  }
  70% {
    transform: translate(500px, -50px);
  }
  90% {
    transform: translate(260px, 30px);
  }
}

@keyframes green_c {
  50% {
    transform: translate(500px, 50px);
    transform: scale(2);
  }
}

@keyframes blue_c {
  50% {
    transform: translate(1000px, 90px);
    transform: scale(0.2);
  }
}

.yellow__circle {
  animation-name: yellow_c;
  animation-duration: 25s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.pink__circle {
  animation-name: pink_c;
  animation-duration: 35s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.green__circle {
  animation-name: green_c;
  animation-duration: 75s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.blue__circle {
  animation-name: blue_c;
  animation-duration: 120s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
