html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  min-width: 1280px;

  font-family: Arial, Helvetica, sans-serif;
}

.visually-hidden {
  display: none;
}

.page {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100%;
  width: 1200px;


  background-color: #ffffff31;
  box-shadow: 0 0 135px rgba(0, 0, 0, 0.158);
}

.page__header {
  display: flex;
  justify-content: center;
}

@keyframes title_color {
  10% {
    text-shadow: 10px 0 25px rgb(255, 0, 0);
  }
  20% {
    text-shadow: 0 10px 25px rgb(255, 72, 0);
  }
  30% {
    text-shadow: -10px 0 25px rgb(255, 251, 0);
  }
  40% {
    text-shadow: 0 -10px 25px rgb(145, 255, 0);
  }
  50% {
    text-shadow: 10px 0 25px rgb(0, 255, 136);
  }
  60% {
    text-shadow: 0 -10px 25px rgb(0, 255, 191);
  }
  70% {
    text-shadow: -10px 0 25px rgb(0, 89, 255);
  }
  80% {
    text-shadow: 0 -10px 25px rgb(132, 0, 255);
  }
  90% {
    text-shadow: 10px 0 25px rgb(195, 0, 255);
  }
}

.title:hover {
  animation: title_color 10s infinite linear;
}

.title {
  position: relative;
  margin: 0;
  font-size: 70px;
  line-height: 200px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(255, 255, 255);
  text-shadow: 0 0 25px rgb(0, 0, 0);
  user-select: none;
}

@keyframes borders_rotate {
  30% {
    transform:skewX(15deg);
    transform:translateY(-20px);
  }
  70% {
    transform:skewX(-15deg);
    transform:translateY(20px);
  }
}

.title::before,
.title::after {
  animation-name: yellow_c, borders_rotate;
  animation-duration: 5s, 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.title::before {
  content: '';
  position: absolute;
  top: 50%;
  left: -200px;
  width: 100px;
  height: 2px;
  background-color: transparent;
  border-top: 20px dotted red;
}

.title::after {
  content: '';
  position: absolute;
  top: 50%;
  right: -200px;
  width: 100px;
  height: 2px;
  background-color: transparent;
  border-top: 20px dotted red;
}

svg {
  position: absolute;
  z-index: -1;
}

@keyframes yellow_c {
  50% {
    transform: scale(0.2);
  }
}

@keyframes pink_c {
  35% {
    transform: translate(-500px, -50px);
  }
  70% {
    transform: translate(500px, -50px);
  }
  90% {
    transform: translate(260px, 30px);
  }
}

@keyframes green_c {
  50% {
    transform: translate(500px, 50px);
    transform: scale(2);
  }
}

@keyframes blue_c {
  50% {
    transform: translate(1000px, 90px);
    transform: scale(0.2);
  }
}

.yellow__circle {
  animation: yellow_c 25s infinite linear;
}

.pink__circle {
  animation: pink_c 35s infinite linear;
}

.green__circle {
  animation: green_c 75s infinite linear;
}

.blue__circle {
  animation: blue_c 120s infinite linear;
}

.menu__socials {
  min-height: 3em;
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 20px;
}

.menu__socials a {
  width: 80px;
  height: 80px;
}

.icon {
  z-index: 1;
  fill: rgba(255, 0, 119, 0.568);
}
