html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  min-width: 1280px;

  font-family: Arial, Helvetica, sans-serif;
}

.visually-hidden {
  display: none;
}

.page {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100%;
  width: 1200px;


  background-color: #ffffff31;
  box-shadow: 0 0 135px rgba(0, 0, 0, 0.158);
}

.page__header {
  display: flex;
  justify-content: center;
}

.title {
  position: relative;
  margin: 0;
  font-size: 70px;
  line-height: 200px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(255, 255, 255);
  text-shadow: 0 0 25px rgb(0, 0, 0);
}

.title::before {
  content: '';
  position: absolute;
  top: 50%;
  left: -200px;
  width: 100px;
  height: 2px;
  background-color: transparent;
  border-top: 20px dotted red;
}

.title::after {
  content: '';
  position: absolute;
  top: 50%;
  right: -200px;
  width: 100px;
  height: 2px;
  background-color: transparent;
  border-top: 20px dotted red;
  
}

svg {
  position: absolute;
  z-index: -1;
}