html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  min-width: 1280px;
  font-family: Arial, Helvetica, sans-serif;
}

.visually-hidden {
  display: none;
}

.page {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100%;
  background-color: #ffffff31;
  box-shadow: 0 0 135px rgba(0, 0, 0, 0.158);
}

.page__header {
  display: flex;
  justify-content: center;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.158);
}

.title {
  position: relative;
  margin: 0;
  font-size: 70px;
  line-height: 200px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(255, 255, 255);
  user-select: none;
  text-shadow: 
    3px 10px 10px #00c3ff,
    0px 0px 15px rgb(0, 255, 21),
    -3px -7px 20px rgb(255, 0, 0);
}

@keyframes borders_rotate {
  50% {
    transform:rotatex(180deg);
  }
}

.title::before,
.title::after {
  animation-name: borders_rotate;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.title::before {
  content: '';
  position: absolute;
  top: 45%;
  left: -700px;
  width: 600px;
  height: 2px;
  background-color: transparent;
  border-top: 15px solid rgba(119, 0, 255, 0.356);
  border-bottom: 15px solid rgba(119, 0, 255, 0.356);
}

.title::after {
  content: '';
  position: absolute;
  top: 45%;
  right: -700px;
  width: 600px;
  height: 2px;
  background-color: transparent;
  border-top: 15px solid rgba(119, 0, 255, 0.356);
}

.header_circles_svg {
  position: absolute;
  z-index: -1;
}

@keyframes yellow_c {
  50% {
    transform: scale(0.2);
  }
}

@keyframes pink_c {
  35% {
    transform: translate(-500px, -50px);
  }
  70% {
    transform: translate(500px, -50px);
  }
  90% {
    transform: translate(260px, 30px);
  }
}

@keyframes green_c {
  50% {
    transform: translate(500px, 50px);
    transform: scale(2);
  }
}

@keyframes blue_c {
  50% {
    transform: translate(1000px, 90px);
    transform: scale(0.2);
  }
}

.yellow__circle {
  animation: yellow_c 25s infinite linear;
}

.pink__circle {
  animation: pink_c 35s infinite linear;
}

.green__circle {
  animation: green_c 75s infinite linear;
}

.blue__circle {
  animation: blue_c 120s infinite linear;
}

.menu__socials {
  min-height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  padding: 20px;
}

.menu__socials a {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0 0 20px 2px rgb(0, 131, 102);
  transition: 0.2s;
}

.menu__socials a:hover {
  box-shadow: 0 0 20px 2px rgb(0, 39, 31);
}
